body{
    font-family: sans-serif;
    background-color: #e5e2e7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app{
    width: 300px;
    height: 500px;
    border: solid 5px blueviolet;
    border-radius: 5px ;
    padding: 15px;
    background-color:aliceblue;
    overflow-y: scroll;
}
.app::-webkit-scrollbar {
    width: 0 !important;
}

#addnew{
    background: rgb(209, 218, 215);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 5px  10px;
}
.fa-plus{
    background: blueviolet;
    border-radius: 10px;
    padding: 3px;
}

#tasks{
    display: grid;
    gap: 14px;
}
#tasks div{
    background: rgb(209, 218, 215);
    border:solid 3px blueviolet;
    border-radius: 6px;
    padding: 5px;
    display: grid;
    gap: 4px;
}
.options{
    justify-self: center;
    display: flex;
    gap: 20px;
}
.options i{
    cursor:pointer;
}
#msg{
    color:red;
}